Django>=5.0
djangorestframework
psycopg[binary]
# djangorestframework-simplejwt
djangorestframework-simplejwt[crypto]
argon2-cffi
django-environ
django-redis
coverage
drf-spectacular 

python-json-logger
django-prometheus
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-django
opentelemetry-instrumentation-requests
opentelemetry-exporter-otlp


